<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member Detail</title>
</head>
<body>
    <div th:replace="member/header :: headerFragment"></div>
    <h2>Member 조회 페이지입니다.</h2>
    <p>멤버의 아이디는 <span th:text="${memberResDto.id}">멤버 아이디</span></p>
    <p>멤버의 이름은 <span th:text="${memberResDto.name}">멤버 이름</span></p>
    <p>멤버의 이메일은 <span th:text="${memberResDto.email}">멤버 이메일</span></p>
    <p>멤버의 비밀번호는 <span th:text="${memberResDto.password}">멤버 비밀번호</span></p>
    <p>멤버의 가입 시간은 <span th:text="${memberResDto.createdTime}">멤버 가입 일시</span></p>

</body>
</html>